body {
	background-color: #666666;
	color: #ccc;	
	cursor: crosshair;
	margin: auto;
	font-family: arial;
	font-size: 120%;
}

a:link {
	color: #000044;
}
a:hover {
	color: #3030cc;
}
a:visited {
	color: #440000;
}

header {
	text-align: center;
}

nav {
	display: inline-block;
	font-family: Courier;
	font-size: 1.5em;
}
nav li {
	display: inline;
	padding: 0 50px;
}

#profileImage {
	text-align: center;
}

footer {
	text-align: center;
	font-family: Courier;
	font-size: 1.5em;
	padding-bottom: 20px;
}
footer li {
	display: inline;
	text-decoration: none;
	padding: 0 10px;
}

@keyframes logo {
    from {
    	background-color: #acacac;
		background-image: url("jasonmize.png");
    }
    to {
    	background-color: #666666;
		background-image: url("jasonmize_dark.png");
    }
}

.headerImg {
	border-radius: 25px;
	height: 130px;
	width: 700px;
	margin: auto;
    background-color: #666666;
	background-image: url("jasonmize_dark.png");
    animation-name: logo;
    animation-duration: 2s;
    animation-timing-function: ease-in;

}

.contents {
	margin: auto;
	width: 600px;
}

.post {
	color: #cccccc;
}
