body {
	text-align: center;
}

nav {
	font-family: Courier;
	font-size: 1.5em;
}
nav li {
	display: inline;
	padding: 0 50px;
}

footer {
	margin-top: 30px;
}
footer li {
	display: inline;
	padding: 0 20px;
	color: #337ab7;
	font-size: 1.5em;
}

.headerImg {
	height: 120px;
	max-width: 700px;
	margin:auto;
}

.gotcha { /* to hide form field that checks for spam */
	visibility: hidden;
}

.posts {
	text-align: left;
}
