<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<footer>
				<ul>
					<li>
						<i class="fa fa-github-square" aria-hidden="true"></i>
						<a href="{{ site.github }}" target="_blank">GitHub</a>
					</li>
					<li>
						<i class="fa fa-facebook-square" aria-hidden="true"></i>
						<a href="{{ site.facebook }}" target="_blank">Facebook</a>
					</li>
					<li>
						<i class="fa fa-twitter-square" aria-hidden="true"></i>
						<a href="{{ site.twitter }}" target="_blank">Twitter</a>
					</li>
					<li>
						<i class="fa fa-linkedin-square" aria-hidden="true"></i>
						<a href="{{ site.linkedin }}" target="_blank">LinkedIn</a>
					</li>
				</ul>
			</footer>
		</div><!-- end col -->
	</div><!-- end row -->
</div><!-- end container -->

<!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>